body {
  position: absolute;
  margin: 0px;
  padding: 0px;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  touch-action: none;
  overscroll-behavior: none;
  overflow: hidden;
  /* background: none transparent; */
  background: #1f1f1f;
}

#iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: none transparent;
  border: none;
  /* transform: scaleX(-1); */
  /* border: 1px solid #dddddd; */
  /* box-sizing: border-box; */
}
