body {
  position: absolute;
  margin: 0px;
  padding: 0px;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  touch-action: none;
  overscroll-behavior: none;
  overflow: hidden;
  /* background: none transparent; */
  background: #1f1f1f;
}

#video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* transform: scaleX(-1); */
  /* border: 1px solid #dddddd; */
  /* box-sizing: border-box; */
}

.vjs-big-play-button {
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
  transition: opacity 0.2s linear, color 0.2s linear;
}
