body {
  position: absolute;
  margin: 0px;
  padding: 0px;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  touch-action: none;
  overscroll-behavior: none;
  overflow: hidden;
  /* background: none transparent; */
  background: #1f1f1f;
}

#video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* transform: scaleX(-1); */
  /* border: 1px solid #dddddd; */
  /* box-sizing: border-box; */
}

#playbackUrl {
  position: absolute;
  width: fit-content;
  background: #222222;
  color: #dddddd;
  opacity: 0;
  font-family: monospace;
  top: 15px;
  left: 50%;
  font-size: 18px;
  padding: 9px;
  border-radius: 6px;
  transition: opacity 0.2s linear;
  transform: translateX(-50%);
  user-select: none;
  pointer-events: none;
}

#playbackUrl.visible {
  opacity: 0.75;
  cursor: pointer;
  pointer-events: all;
}

#playbackUrl.visible:hover {
  opacity: 1;
}

#playbackUrl:active {
  background: #444444;
}

.vjs-big-play-button {
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
  transition: opacity 0.2s linear, color 0.2s linear;
}

.record-container,
.media-container {
  display: none;
  position: absolute;
  /* top: 24px; */
  /* right: 24px; */
  bottom: 24px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 30px;
  width: 60px;
  height: 60px;
  background: #222222;
  opacity: 0.5;
  pointer-events: all;
  transition: opacity 0.2s linear, border-radius 0.2s linear;
}

.media-container {
  width: 30px;
  height: 30px;
  bottom: 39px;
  border-radius: 6px;
  left: calc(50% - 60px);
}

.record-container:hover,
.media-container:hover {
  opacity: 1;
}

.record,
.media {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 30px;
  height: 30px;
  transform: translate(-50%, -50%);
  /* background: #dd0000; */
  background: #dddddd;
  border-width: 3px;
  border-style: solid;
  border-color: #dddddd;
  border-radius: 15px;
  cursor: pointer;
  box-sizing: border-box;
  transition: opacity 0.2s linear, color 0.2s linear, border-radius 0.2s linear;
}

.media {
  width: 15px;
  height: 15px;
  background: #00000000;
  border-radius: 3px;
}