body {
  position: absolute;
  margin: 0px;
  padding: 0px;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  touch-action: none;
  overscroll-behavior: none;
  overflow: hidden;
  /* background: none transparent; */
  background: #1f1f1f;
}

#video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: none transparent;
}

#canvas {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  visibility: hidden;
}

#playback-url {
  position: absolute;
  width: fit-content;
  background: #222222;
  color: #dddddd;
  opacity: 0;
  font-family: monospace;
  top: 15px;
  left: 50%;
  font-size: 16px;
  padding: 9px;
  border-radius: 6px;
  transition: opacity 0.2s linear;
  transform: translateX(-50%);
  user-select: none;
  pointer-events: none;
  max-width: 80%;
  word-break: break-all;
  text-align: center;
}

#playback-url.visible {
  opacity: 0.75;
  cursor: pointer;
  pointer-events: all;
}

#playback-url.visible:hover {
  opacity: 1;
}

#playback-url:active {
  background: #444444;
}

.button-container {
  display: block;
  position: absolute;
  transform: translateX(-50%);
  background: #222222;
  opacity: 0.5;
  pointer-events: all;
  transition: opacity 0.2s linear, border-radius 0.2s linear;
  cursor: pointer;
}

.button-container:hover {
  opacity: 1;
}

.record-container {
  width: 60px;
  height: 60px;
  bottom: 24px;
  border-radius: 30px;
  left: 50%;
}

.media-container {
  width: 30px;
  height: 30px;
  bottom: 39px;
  border-radius: 6px;
  left: calc(50% - 60px);
}

.wallet-container {
  width: 60px;
  height: 60px;
  top: 24px;
  right: 24px;
  border-radius: 30px;
}

.button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-width: 3px;
  border-style: solid;
  cursor: pointer;
  box-sizing: border-box;
  transition: opacity 0.2s linear, color 0.2s linear, border-radius 0.2s linear;
}

.record {
  width: 30px;
  height: 30px;
  background: #dddddd;
  border-color: #dddddd;
  border-radius: 15px;
}

.media {
  width: 15px;
  height: 15px;
  background: #00000000;
  border-color: #dddddd;
  border-radius: 3px;
}

.wallet {
  width: 30px;
  height: 30px;
  background: #8a5000b5;
  border-color: #e97c07;
  border-radius: 1px;
}
